/* :root {
    variables
} */

header {
    background-image: linear-gradient(to right, #025D8C , #0B2E59);
    text-align: center;
    padding: 10px 0 10px 20px;
    color: #fff;
}

header i {
    float: left;
    font-size: 50px;
    color: #025D8C;
}

aside {
    position: absolute;
    left: 0;
    top: 70px;
    width: 300px;
    height: 100vh;
    text-align: center;
    padding: 10px;
}

input {
    width: 270px;
}

#searchSub {
    margin-top: 10px;
    width: 270px;
    background-color: #025D8C;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #000;
}

#cityData {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 10px 0 300px;
}

#cityWeather {
    margin-left: 300px;
}

.weatherFlex {
    display: flex;
}

.weatherBlock {
    background-image: linear-gradient(#025D8C , #0B2E59 , #0B2E59 , #025D8C);
    color: #fff;
    flex: 1;
    width: 20%;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}

/* Larger devices */
@media screen and (max-width: 1200px) {
    header i {
        color: #fff;
    }
    aside {
        display: none;
    }
    #cityData {
        margin-left: 10px;
    }
    #cityWeather {
        margin-left: 10px;
    }
    .weatherBlock {
        width: 33.3%;
    }
}

/* Larger devices */
@media screen and (max-width: 992px) {
    aside {
        display: none;
    }
    #cityData {
        margin-left: 10px;
    }
    #cityWeather {
        margin-left: 10px;
    }
    .weatherBlock {
        width: 40%;
    }
}
  
/* Mid size devices */
@media screen and (max-width: 768px) {
    aside {
        display: none;
    }
    #cityData {
        margin-left: 10px;
    }
    #cityWeather {
        margin-left: 10px;
    }
    .weatherBlock {
        width: 50%;
    }
}

/* Smaller devices */
@media screen and (max-width: 576px) {
    aside {
        display: none;
    }
    #cityData {
        margin-left: 10px;
    }
    #cityWeather {
        margin-left: 10px;
    }
    .weatherFlex {
        flex-direction: column;
    }
    .weatherBlock {
        width: 100%;
    }
}